.App {
  text-align: center;
  width: 1024px;
  margin: auto;
  justify-content: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.game-element {
  margin: 1rem;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.game-element:disabled {
  cursor: not-allowed;
}

.game-element-img {
  width: 100%;
}
.game-element-img-hidden {
  background-color: #282c34;
  height: 180px;
}

